<div id="todo">

<h1>All todolists</h1>



	<ul id="todolist" data-update-url="<%= sort_todolists_url  %>" >
	<%= render @todolists  %>
	</ul>




<br />
<div id="remote">
<%= link_to 'Add Todo', new_todolist_path, :remote=> true %>
</div>

</div>