/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/


body {
	margin:0px;
	padding:0px;
	
	header {
		width:100%;
		min-width: 1024px;
		height: 40px;
		padding:0px;
		padding-top: 10px;
		background-color: rgba(33,33,33,1);
		span{
			a{
			color: gray;
			margin-left: 30px;
			font-size: 2em;
			text-decoration:none;
		}
			}
		ul {
			float:right;
			margin: auto auto;
			margin-right: 20px;
			li.welcome {
				color:rgba(255,231,255,0.7);
			
			}
			li {
				display:block-inline;
				float: left;
				margin-left:20px;
				list-style:none;
				
				a {
					color:rgb(245,130,34);
					text-decoration:none;
					
					
				}
				
			}
		}
		
		
		nav.navigate {
			width:1024px;
			height:20px;
			background-color: white;
			margin:auto auto;
			margin-top:3px;
			border-radius:2px;
			ul {
				float:left;
				padding:0px;
				
				li{
					margin:0px;
				
					a{
					margin: auto 10px auto 10px;
					color: #666666;	
					font-size: 20px;
				 	font-weight: normal;
				    line-height: 29px;
					text-transform: uppercase;
					-moz-transition: color 0.1s
					}
					a:hover {
						color: rgb(245,130,34);
					}
				}
				
				
				li:hover {
					
				}
			}
		}
	}
	
	section {
		background-color: #FFFFFF;
		width: 1024px;
		height: 700px;
		margin:auto auto;
		padding-left:10px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
		margin-top:25px;
		 p {
			width: 400px;
			margin: auto auto;
			color: rgba(33,33,33,0.7);
			font-size: 2em;
			margin-top:20px;
			text-align: justify;
			padding:20px;
			
		}
		p:first-letter {
			color:orange;
			font-size:3em;
			float:left;
			margin-right:4px;
			line-height: 30px;
		}
		#notice.flash {
			background-color: rgb(83,255,101);
			width: 260px;
			margin:auto auto;
			margin-top:10px;
			border-radius: 10px;;
			text-align:center;
		}
		#alert.flash{
			width: 260px;
			text-align:center;
			margin: auto auto;
			border-radius: 10px;
			
			background-color: rgb(253,55,51);
			
		}
		
		
			div h2#sign{
				
				text-align:center;
				
				
			
			}
			div{
				width:220px;
				margin:auto auto;
				position:relative;
				
			form {
			position:relative;
			background-color: rgba(33,33,33,0.9);
			height: 240px;
			width: 220px;
			padding: 0px;
			margin: auto auto;
			border-radius: 2px 2px 2px 2px;
			cursor: default;
			
			input {
				
				width: 200px;
				outline: none !important;
				border: 1px solid  rgb(62, 15, 94);
				height: 22px;
				padding: 5px;
				margin-left:4px;
				border-radius: 1px 1px 1px 1px;
				background:  rgba(255, 255, 252, 0.9);
				font-size: 1.1em;
				box-shadow: 0 1px 4px rgba(24, 22, 0, 0.56) inset;
				
			}
			
			label {
				color: #BABABA;
				font-size: 0.8em;
				float: left;
				margin-left: 8px;
				margin-top: 10px;
				cursor: pointer;
			}
			div#signin{
				position:absolute;
				bottom:90px;
				right:30px;
				width:40px;
			}
			div#signup{
				position:absolute;
				bottom:34px;
				right:30px;
				width:40px;
				font-size:0.9em;
				z-index:10;
			}
			div#checkbox {
				width:140px;
				margin-left:0px;
				input#user_remember_me {
				width:20px;
				display:inline;
				margin-top:8px;
				color: green;
				border:none;
				box-shadow: 0px 0px 10px rgba(153,147,255, 0.7);
				
				}
				label {
					width:90px;
					margin-left:4px;
					
				}
				label:hover {
					box-shadow: 0px 0px 10px rgba(153,147,255, 0.7);
				}
				label:active {
					box-shadow: 0px 0px 10px rgba(253,250,255, 0.7);
				}
			}
			
			
			
			input[type='submit'] {
				width: 60px;
				height: 22px;
				font-size: 1em;
				padding: 0px;
				border-radius: 1px 1px 1px 1px;
				background-color: #fbbf3e ;
				border: 1px solid  rgb(62, 15, 94);
				display:inline;
				
				cursor: pointer;
				box-shadow:none;
				z-index:3;
			}
			
			
			
		
		
			input:hover {
				height: 22px;
				border-radius: 1px 1px 1px 1px;
				border: 1px solid  rgb(62, 15, 94);    /*  rgb(62, 15, 94);  */
				box-shadow: 0px 0px 10px  rgb(162, 175, 194);
				background:  rgba(255, 255, 252, 0.9);
				font-size: 1.1em;
				box-shadow: 0 1px 4px rgba(24, 22, 0, 0.56) inset;
				
			}
			
			input[type='submit']:hover {
				width: 60px;
				height: 22px;
				font-size: 1em;
				padding: 0px;
				background-color: #fbbf3e ;
				color: black;
				border-radius: 1px 1px 1px 1px;
				box-shadow: 0px 0px 5px  rgb(162, 175, 194);
				border: 1px solid  rgb(62, 15, 94)  !important;
				border: none;
				
			
				outline: none;
			}
			
			input::-webkit-input-placeholder {
			    color:   rgba(33,33,33,0.8);

			}



			input:-moz-placeholder {
			    color:    rgba(33,33,33,0.4);
			}
			
			
			
			
		}
		div#links{
			position:absolute;
			bottom:10px;
			left:10px;
			z-index:4;
			a {
			color: white;
			}
		}
		
	
			
		}                
			
			
	              
       
       
        
        
 


	
		
		
		ul {
			width: 200px;
			
			li.users{
				margin:0px;
				list-style:none;
				float:none;
				font-size: 14px;
				text-transform: uppercase;
			
				a{
				
				border-radius: 3px;
				margin: auto 10px auto 10px;
				color: #666666;
				padding:4px;	
				font-size: 12px;
			 	font-weight: normal;
			    line-height: 29px;
				text-decoration:none;
				color:white;
				background-color: orange;
				text-transform: uppercase;
				-moz-transition: color 0.1s
				}
				a:hover {
					color: rgb(25,10,34);
				}
			}
			
			
			li:hover {
				
			}
		}
	
		
	h2 {
		color:#666666;
		margin-left: 20px;	
	}
	
	
	div#todo{
		margin:0px;
		width:400px;
		
				ul#todolist{
					color:orange;
					width:100%;
				}
				li{
					list-style:none;
					font-size:1.7em;
					position:relative;
					width:300px;
					margin-bottom: 6px;
					a.edit{
						text-decoration:none;
						color:white;
						position:absolute;
						left:100px;
						top:0px;
						height:20px;
						font-size:0.5em;
						border: 1px black solid;
						background-color: black;
						border-radius: 3px;
						padding: 4px;
						padding-bottom:0px;
						
					}
					a.destroy{
							text-decoration:none;
							color:white;
							position:absolute;
							left:150px;
							top:0px;
							font-size:0.5em;
							border: 1px black solid;
							background-color: black;
							border-radius: 3px;
							padding: 4px;
						
					}
					a:hover {
						border-top: solid 4px red;
						padding-top:1px;
						
					}
				}
		
	
	
		div#remote {
			margin:0px;
			
			form{
				height:24px;
				padding-top:4px;
				padding-bottom:4px;
				label {
					margin:0px;
					margin-top:4px;
					margin-left:2px;
				}
				input {
					
					height:18px;
					width:120px;
				
					padding:0px;
					display: inline-block;
					font-size: 1em;
				}
				span input {
					margin-top:4px;
					height:16px;
					width:50px;
					
					font-size: 10px;
					padding:0px;
					
					
				}
				
				
		
				
				
			}
			
			
			
			a{
				text-decoration:none;
				border: 1px solid green;
				color:white;
				background-color: rgba(33,33,33,0.7);
				padding:2px;
			}
		}
	}
		
			
	}
	
}